<!DOCTYPE html>
<html lang="en" data-scope="app">

<head>
  <meta charset="UTF-8" />
  <title><%= meta.title %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="<%= meta.description %>" />
  <link rel="icon" href="/assets/favicon.svg" />

  <%# Inject page styles %>
  <%- __styles %>
</head>

<body>
  <header class="app__header">
    <a class="app__logo" href="/">
      <span class="app__logo__triangle">&triangle;</span>
      <span class="app__logo__cursor">_</span>
    </a>
  </header>

  <main class="app__content">
    <%- __content %>
  </main>

  <footer class="app__footer">
    <span class="app__message" data-binding="binaryMessage"></span>

    <span class="copywright">
      © <%= new Date().getUTCFullYear() %>, fnhipster
    </span>
  </footer>

  <%- __scripts %>
</body>

</html>