<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= meta.title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="<%= meta.description %>" />
    <link rel="icon" href="/assets/favicon.png" />
    <link rel="stylesheet" href="/assets/styles/base.css" />

    <% if (__style) { %>
    <style>
      <%- __style %>
    </style>
    <% } %>
  </head>
  <body>
    <nav>
      <h1 data-binding="count">0</h1>
      <a href="/howdy">Howdy</a>
      <a href="/foo">Foo</a>
      <a href="/foo/bar">FooBar</a>
    </nav>

    <div data-scope="content"><%- __content %></div>

    <% if (__script) { %>
    <script type="module">
      <%- __script %>
      <%- __clientjs %>
    </script>
    <% } %>
  </body>
</html>
